.nav {
    background-color: rgb(240, 240, 240);
    min-height: 70px;
    position: fixed;
    top:0;
    left:0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    color: #FFFDFD;
    text-align: center;
    z-index:10;
    width:105%;
  }
  
  .title,.status, .points{
    text-decoration: none;
    color: black;
    font-weight: 900;
    list-style-type: none;
    font-size: 2rem;
  }
  .points{
    font-size:1.5rem;
  }

  .header {
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
    color:#FFFDFD;
    height: 30px;
    padding: 10px 20px; 
    padding-bottom: 210px;
    text-align: center;
  }
  
  .header h3 {
    margin-top: 75px;
    margin-bottom: 30px;
  }
  @media (max-width: 1260px) {
    .header h3 {
      margin-top: 100px;
    }
  }
  @media (max-width: 801px) {
    .header h3 {
      margin-top: 140px;
    }
  }
  
  @media (max-width: 600px) {
    .title,.status, .points{
      margin:5px;
      font-size:1.5rem;
    }
    .header{
      padding-bottom: 250px;
    }
    .header h3 {
      margin-top: 140px;
    }
  }